@font-face {
    font-family: 'd';
    src: url('font/Utendo-Bold.ttf'),format('truetype');
}

*{
    margin: 0px;
    padding: 0px;
}

/*-----TITULO----*/

.back-img {
    background-color:  rgba(255, 255, 255, 0.473);
    width: 100%;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(10px);
}

#logo {
    width: 120px;
}

.backju {
    background-image: url(imagem/colar1.webp);
    background-color: rgb(255, 245, 212);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
}


/*-----MENU----*/

.icone {
    position: absolute;
    cursor: pointer;
}

#item-icone {
    position: relative;
    font-size: 40px;
    color: rgb(160, 120, 67);
    display: none;
}

.menu { 
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    background-color: rgba(255, 0, 0, 0);
}

.item-menu {
    color: rgb(160, 120, 67);
    font-size: 24px;
    font-family:'d';
    text-decoration: none;
    margin-right: 25px;
    position: relative;
    top: -73px;
    left: 700px;
    color: rgb(160, 120, 67);
    transition-duration: 0.2s;
}

#item-menu1:hover {
    font-size: 28px;
}

#item-menu2:hover {
    font-size: 28px;
}

#item-menu3:hover {
    font-size: 28px;
}

.backmenu {
    background-color: rgba(0, 0, 255, 0);
    justify-content: center;
    display: flex;
}

/*-----BOX-ITEM-----*/

.back-box {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

#item-box {
    background-color: rgb(243, 243, 243);
    width: 400px;
    height: 500px;
    align-content: center;
    text-align: center;
    border-radius: 20px;
}

.valor,.free {
    font-size: 20px;
    background-color: rgba(255, 0, 0, 0);
    text-align: justify;
    margin-left: 30px;
    margin-top: 20px;
}

    .mais-vendido,.destaques {
        font-size: 23px;
        text-decoration: underline;
        text-decoration-color: rgb(238, 188, 113);
        text-decoration-thickness: 3px;
        text-underline-offset: 10px;
        margin-left: 177px;
        margin-top: 35px;
     }


/*-----BOX-2 ------*/

.back-box2 {
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(255, 0, 0, 0);
    margin-top: 50px;

}

#item-box1 {
    width: 400px;
    height: 500px;
    background-color: rgb(243, 243, 243);
    align-content: center;
    text-align: center;
    border-radius: 20px;
}

/*-----CARTAO-VEZES------*/ 

.back-mulher {
display: flex;
justify-content: end;
background-color: rgb(235, 209, 125);
width: 1860px;
}

.cartao-vezes {
 width: 100%;
 background-color: rgba(255, 0, 0, 0);
 display: flex;
 justify-content: center;
 margin-top: 70px;
}

#mulher {
width: 700px;

}

.back-extra {
    display: none;
}