@media (max-width: 600px) {
  
  /*-----TITULO AND MENU----*/
    .backju {
        
        background-image: url(imagem/colar1.webp);
        background-position:center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        width: 100%;
    }

    .back-img {
        
        background-color: rgba(255, 255, 255, 0.459);
        width: 100%;
        display: flex;
        justify-content: center;
        backdrop-filter: blur(5px);
        border-bottom: 1px solid rgba(0, 0, 0, 0.048);
    }

    #logo {
        width: 70px;
    }

    #item-icone {
        display: block;
        position: relative;
        background-color: rgba(21, 255, 0, 0);
        top: -55px;
        left: 310px;
        font-size: 38px;
    }

    .backmenu {
        transition: 1s;
        transform: translate(-100%);
    }

    .menu {
        background-color: rgba(255, 255, 255, 0.473);
        height: 340px;
        padding: 3%;
        padding-left: 200px;
        border-radius: 20px;
        backdrop-filter: blur(10px);
    }

    .item-menu {
        display: block;
        font-size: 27px;
        line-height: 100px;
        margin-left: -10px;
        position: static;
    }

    .backmenu.ativar {
        transform: translate(-40%);
    }

    /*-----BOX ITEMS-----*/

    .back-box {
        background-color: rgba(255, 0, 0, 0);
        justify-self: center;
        display: block;
    }

    #item-box{
        margin-bottom: 50px;
    }

    #item-box {
        width: 300px;
    }

    #img-colar {
        width: 300px; 

    }

}
