@media (max-width: 600px) {
  
  /*-----TITULO AND MENU----*/
    .backju {
        
        background-image: url(imagem/colar1.webp);
        background-position:center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        width: 100%;
    }

    .back-img {
        
        background-color: rgba(255, 255, 255, 0.459);
        width: 100%;
        display: flex;
        justify-content: center;
        backdrop-filter: blur(5px);
        border-bottom: 1px solid rgba(0, 0, 0, 0.048);
    }

    #logo {
        width: 70px;
    }

    #item-icone {
        display: block;
        position: relative;
        background-color: rgba(21, 255, 0, 0);
        top: -55px;
        left: 310px;
        font-size: 38px;
    }

    .backmenu {
        transition: 1s;
        transform: translate(-100%);
    }

     .mais-vendido,.destaques {
        font-size: 23px;
        text-decoration: underline;
        text-decoration-color: rgb(238, 188, 113);
        text-decoration-thickness: 3px;
        text-underline-offset: 10px;
        margin-left: 40px;
        margin-top: 35px;
     }

    .menu {
        background-color: rgba(255, 255, 255, 0.473);
        height: 340px;
        padding: 3%;
        padding-left: 200px;
        border-radius: 20px;
        backdrop-filter: blur(10px);
    }

    .item-menu {
        display: block;
        font-size: 27px;
        line-height: 100px;
        margin-left: -10px;
        position: static;
    }

    .backmenu.ativar {
        transform: translate(-40%);
    }

    /*-----BOX ITEMS-----*/

    .back-box {
        background-color: rgba(255, 0, 0, 0);
        justify-self: center;
        display: block;
    }

    #item-box {
        margin-bottom: 50px;
    }

    #item-box {
        width: 300px;
    }

    #img-colar {
        width: 300px; 

    }

    /*-----BOX-ITEM-2-----*/

    .back-box2 {
        background-color: rgba(255, 0, 0, 0);
        justify-self: center;
        display: block;
    }

    #item-box1{
        width: 300px;
        margin-top: 50px;
    }
    

    /*-----CARTAO-VEZES------*/ 

.back-mulher {
display: flex;
justify-content: center;
background-color: rgb(235, 209, 125);
width: 100%;
}

.cartao-vezes{
 width: 100%;
 background-color: rgba(255, 0, 0, 0);
 display: block;
 justify-content: center;
 margin-top: 70px;
}

#mulher {
width: 200px;
}

.back-extra {
    display: flex;
    background-color: red;

}

#extra {
   
}

}
